<!-- create-users.page.html -->

<ion-header color="danger">
<br>
<br>
    <ion-title>Crear Usuario</ion-title>
</ion-header>

<ion-content color="danger" [fullscreen]="true">

  <!-- Formulario -->
  <form>
    <ion-item class="custom-item">
      <ion-label class="custom-label">Código de Agente</ion-label>
      <ion-input class="custom-input" type="text"> </ion-input>
 

    
      <ion-label class="custom-label">Nombre</ion-label>
      <ion-input class="custom-input" type="text"></ion-input>
  

   
      <ion-label class="custom-label">Email</ion-label>
      <ion-input class="custom-input" type="email"></ion-input>
   

    
      <ion-label class="custom-label" >Número de Empleado</ion-label>
      <ion-input class="custom-input" type="number"></ion-input>
   

      <ion-label>Contraseña</ion-label>
      <ion-label  class="custom-label"position="floating"></ion-label>
      <ion-input class="custom-input" type="password"></ion-input>
      <br>
    </ion-item>

    <ion-item class="custom-item" lines="none">
      <ion-label>Rol</ion-label>
      <ion-select placeholder="Seleccionar Rol">
        <ion-select-option value="admin">Admin</ion-select-option>
        <ion-select-option value="vendedor">Vendedor</ion-select-option>
      </ion-select>
    </ion-item>

      <ion-button color="warning" href="/lista">Enviar</ion-button>
  </form>
  <!-- Fin del formulario -->
</ion-content>
